
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');


:root {
    --dark-blue: rgb(19,14,48);
    --blue: rgb(34, 52, 101);
    --light-blue: rgb(139, 220, 234);
    --orange: rgb(237,71,12);
    --grey: rgb(239, 238, 228);
    /* palette also includes `white`, omitted for the sake of brevity */
}


html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Khula', sans-serif;
}

.container-hp-height {
    height: 100%;
}

.hero {
    background-color: var(--dark-blue);
}

.product {
    background-color: white;
}

.team {
    background-color: var(--grey);
}

